{
    "presets": [
      "react",
      ["env", {
        "targets": {
          "node": true
        }
      }]
    ],
    "env": {
        "development": {
          "presets": ["react-hmre"]
        }
      }
  }
